<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Smart Device Automation Tests">	
	<listeners>
		<listener class-name="smartdevice.reports.ExtentReportListener" />
	</listeners>
	<test name="smart device bulb automation tests">
		<classes>
		<class name="smartdevice.tests.BulbTests"></class>
		</classes>
	</test>
</suite>
